.cool-btn {
    background: linear-gradient(45deg, #ff6b6b, #556270); 
    color: white; 
    border: none;
    padding: 15px 30px; 
    font-size: 18px; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: 0.3s;
}

.glow {
    box-shadow: 0 0 15px rgba(255, 107, 107, 0.8);
}   

body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #121212 !important;
    color: white !important;
}

#toggle {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* button styling when toggled */
.light-mode {
    background-color: white !important;
    color: black !important;
    border: 1px solid black;
}

.completed {
    text-decoration: line-through;
    background-color: lightgreen;
}